<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zkfpPrototype.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="zkfpPrototype.Properties.Settings.testEventEmitterConnectionString"
            connectionString="Data Source=DBSERV\SQL2K8;Initial Catalog=testEventEmitter;User ID=fis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
	</runtime>
</configuration>